

<%= render partial: 'layouts/errors', locals: {errors: species.errors} if species.errors.any? %>

<!-- Should @species above be just species? -->

<%= form_for species do |f| %>
  <div>
    <%= f.label :name, "Species Name: " %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :product, "Produces: " %>
    <%= f.select :product, Species::PRODUCT_TYPES %>
  </div>

  <div>
    <%= f.label :sunlight, "Sun Level: " %>
    <%= f.select :sunlight, Species::SUN_LEVELS %>
  </div>

  <div>
    <%= f.submit "Submit" %>
  </div>
<% end %>
