<div class="ui container center aligned">
  <%= flash_message %>
</div>

<div class="ui container center aligned">

    <div>

        <h1 class="underlined"> <%= @species.name %></h1>

        <div class="ui four item menu stackable show-menu">

          <p class="sub-menu-item bold"> <%= link_to "Edit/Update", edit_user_species_path(current_user.id, @species.id)%> </p>
          <p class="sub-menu-item bold"> <%= link_to "Delete", user_species_path(current_user.id, @species.id), method: :delete, data: { confirm: 'Are you sure you want to delete this species?' }%> </p>

        </div>

        <div class="ui divider divider-spacer"></div>

        <h2> Category: <%= @species.category %> </h2>

        <div class="ui divider divider-spacer"></div>

        <h2> Sunlight: <%= @species.sunlight %> </h2>

        <div class="ui divider divider-spacer"></div>

        <h2> Days to Maturity: <%= @species.days_to_maturity ? @species.days_to_maturity : "Not yet provided" %> </h2>

        <div class="ui divider divider-spacer"></div>

        <h2> Gardens where this species appears: </h2>

            <div class="ui list"

              <% if @species.gardens.any? %>
                <% @species.gardens.each do |garden| %>
                    <div class="item"> <%= link_to garden.name, user_garden_path(current_user.id, garden.id) %></div>
                <% end %>
              <% else %>
                    <div class="item"> This species has not been added to any gardens. </div>
              <% end %>
            </div>

        </div>
