
<div class="ui raised very padded container segment text center aligned" style="margin-top: 10em;">
  <h1> Create an Account for Garden Tracker </h1>

  <%= display_any_errors(@user) %>

  <%= form_for @user do |f| %>

    <%= render partial: "users/form", locals: { f: f } %>

  <% end %>

  <h3> Or <%= link_to "sign in", signin_path %> or <%= link_to "log in with GitHub", "/auth/github" %></h3>
</div>
