
<%= flash_message %>

<div class="ui container">

  <div></div>

  <h1 class="ui header center aligned">Summary of Active Gardens</h1>

  <div></div>

  <% if @active_gardens.empty? %>

    <h2 class="ui header center aligned"> Currently there are no active gardens registered. </h2>
    <div class="ui container center aligned">
      <p class="ui center aligned sub-menu-item medium-font bold"> <%= link_to "Add a New Garden", new_user_garden_path(current_user.id) %> </p>
      <p class="ui center aligned sub-menu-item medium-font bold"> <%= link_to "Add a New Species", new_user_species_path(current_user.id) %> </p>
    </div>

  <% else %>
    <table class="ui celled table center aligned">
      <thead>
        <tr>
          <th class="eight wide">Garden Name</th>
          <th class="eight wide">Upcoming Maturities</th>
        </tr>
      </thead>
      <tbody>

        <% @active_gardens.each do |garden| %>
          <tr>
            <td> <%= link_to garden.name, user_garden_path(current_user.id, garden.id)%> </td>
            <td>
                <%= render partial: "gardens/upcoming_maturities_short_list", locals: { garden: garden } %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>
  <% end %>

</div>
