
<% if flash[:message] %>
  <h3> <%= flash[:message] %> </h3>
<% end  %>

<h1> Hi, <%= @user.name %>! </h3>



<h2> <%= link_to "Add a Garden", new_garden_path %> or View/Edit an Existing Garden:</h2>

  <ul>
    <% current_user.gardens.all.each do |garden| %>
      <li> <%= link_to garden.name, garden_path(garden.id)  %></li>
    <% end %>

  </ul>

  <h2> <%= link_to "Add a Species", new_species_path %> or View/Edit an Existing Species:</h2>

    <ul>
      <% current_user.species.all.each do |species| %>
        <li> <%= link_to species.name, species_path(species.id)  %></li>
      <% end %>

    </ul>
