
<% if flash[:message] %>
  <h3 class="message"> <%= flash[:message] %> </h3>
<% end  %>

<h1> Hi, <%= @user.name %>! </h3>

<h2> <%= link_to "Add a Garden", new_garden_path %> or View/Edit an Existing Garden:</h2>

  <ul>
    <% current_user.gardens.all.each do |garden| %>
      <li> <%= link_to garden.name, user_garden_path(@user.id, garden.id)  %></li>
    <% end %>

  </ul>

  <h2> <%= link_to "Add a Species", new_user_species_path(current_user.id) %> or View/Edit an Existing Species:</h2>

    <ul>
      <% current_user.species.all.each do |species| %>
        <li> <%= link_to species.name, user_species_path(current_user.id, species.id)  %></li>
      <% end %>

    </ul>

  <h2> View Gardens of Other Users: </h2>

    <ul>
      <% @other_users.each do |user| %>
        <li> <%= link_to user.name, user_gardens_path(user.id) %> </li>
      <% end %>

    </ul>
