
  <div class="ui raised very padded container segment text center aligned" style="margin-top: 10em;">

      <%= flash_message %>

      <% if signed_in? %>

          <%= render partial: 'welcome/signed_in' %>

      <% else %>

        <h1>Welcome to Garden Tracker!</h1>
        <div class="ui divider"></div>
        <h2><%= link_to "Sign In", signin_path %> or <%= link_to "Log in with GitHub", "/auth/github" %></h2>
        <div class="ui divider"></div>
        <h2>Don't have an account? <%= link_to "Create one", new_user_path %>.</h2>

      <% end %>

  </div>
</div>
