
<h3> Sorry, the following error(s) occurred: </h3>
  <ul>
    <%  @garden.errors.full_messages.each do |msg| %>
      <li> <%= msg %></li>
    <% end %>
  </ul>

<%= form_for garden do |f| %>
  <div>
    <%= f.label :name, "Garden Name: " %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description, "Description (optional): " %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :square_feet, "Square Feet (optional): " %>
    <%= f.text_field :square_feet %>
  </div>

  <div>
    <%= f.submit "Add Garden" %>
  </div>
<% end %>
