

<%= render partial: 'layouts/errors', locals: {errors: garden.errors} if garden.errors.any? %>

<%= form_for garden do |f| %>
  <div>
    <%= f.label :name, "Garden Name: " %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description, "Description (optional): " %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :square_feet, "Square Feet (optional): " %>
    <%= f.text_field :square_feet %>
  </div>

  <div>
    Add your first planting (optional):

    <div>

      <%= f.fields_for :planting_attributes, garden.plantings.build do | planting_attrib | %>
        <%= planting_attrib.hidden_field :user_id, current_user.id.to_s %>

        <%= planting_attrib.label :species_id, "Select Species" %>
        <%= planting_attrib.collection_select :species_id, current_user.species, :id, :name %>
            or <%= link_to "add a new Species", new_species_path %>
        <br>
        <%= planting_attrib.label :quantity, "Quantity Planted: " %>
        <%= planting_attrib.text_field :quantity %>


    <% end %>

    </div>
  </div>

  <div>
    <%= f.submit "Submit" %>
  </div>
<% end %>
