
<table class="ui celled table center aligned">
  <thead>
    <tr>
      <th colspan="3">
        <h3> <%= garden.name %></h3>
        <p class="garden-sub-menu-item"> <%= link_to "All Details", user_garden_path(@user.id, garden.id)%> </p>
        <p class="garden-sub-menu-item"> <%= link_to "Edit/Update", user_garden_path(@user.id, garden.id)%> </p>
        <p class="garden-sub-menu-item"> <%= link_to "Delete", user_garden_path(@user.id, garden.id)%> </p>
      </th>
    </tr>
    <tr>
      <th> Square Feet </th>
      <th> Summary of Upcoming Maturities </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td> <%= garden.square_feet %> </td>
      <td> <%= render partial: "gardens/upcoming_maturities_short_list", locals: { garden: garden } %> </td>
    </tr>
  </tbody>
</table>
