
<%= flash_message %>

<%= display_any_errors(@garden) %>

<div class="ui container center aligned">

    <p class="sub-menu-item bold"><%= link_to "Return to Garden Details Page", user_garden_path(current_user.id, @garden.id) %> </p>

    <div>

        <h1 class="underlined"> Edit Garden </h1>

        <p class="sub-menu-item bold"><%= link_to "Delete Garden", user_garden_path(current_user.id, @garden.id), method: :delete, data: { confirm: 'Are you sure you want to delete this garden (and all of its plantings)?' }%> </p>

        <div class="ui divider divider-spacer"></div>

        <div id="new-planting-form-container"> </div>

        <div id="edit-garden-container" class="ui big form center aligned">

          <%= form_for [current_user, @garden] do |f| %>

            <%= render partial: "gardens/form", locals: { f: f } %>

                <div class="ui divider divider-spacer"></div>

                <h2> Plantings: </h2>

                <div id="add-planting-link-container">
                  <p class="sub-menu-item bold"> <a id="add-planting-link" data-user-id="<%=current_user.id%>" data-garden-id="<%=@garden.id%>" href=""> Add a Planting </a></p>
                </div>

            <% if @garden.plantings.any? %>

              <%= render partial: "plantings/edit_form", locals: {f: f, plantings: @garden.plantings} %>

            <% end %>

            <div>
              <%= f.submit "Submit", class: "ui button" %>
            </div>

          <% end %>

        </div>

        <p class="centered">* To edit the expected maturity date, please edit the species' days to maturity * </p>

    </div>

</div>
