<div class="ui container center aligned">
  <%= display_any_errors(@garden) %>
</div>

<div class="ui container center aligned">

    <div>

        <h1 class="underlined"> Edit Garden </h1>

        <div class="ui divider divider-spacer"></div>

        <div class="ui big form center aligned">

          <%= form_for [current_user, @garden] do |f| %>

            <%= render partial: "gardens/form", locals: { f: f } %>

            <% if @garden.plantings.any? %>

              <%= render partial: "plantings/form", locals: {f: f, plantings: @garden.plantings} %>

            <% end %>

            <div>
              <%= f.submit "Submit", class: "ui button" %>
            </div>


          <% end %>


        </div>

    </div>

</div>
