<div class="ui container center aligned">
  <%= display_any_errors(@garden) %>
</div>

<div class="ui container center aligned">

    <div>

        <h1 class="underlined"> Create a New Garden </h1>

        <div class="ui divider divider-spacer"></div>

        <div class="ui big form center aligned">

            <%= form_for [current_user, @garden] do |f| %>

                <div class="six wide field centered-form-field">
                  <%= f.label :name, "Garden Name: ", class: "ui center aligned" %>
                  <%= f.text_field :name %>
                </div>

                <div class="six wide field centered-form-field">
                  <%= f.label :active, "Active? " %>
                  <%= f.check_box :active, {}, checked_value = 1, unchecked_value = 0 %>
                </div>

                <div class="two wide field centered-form-field" >
                  <%= f.label :square_feet, "Square Feet: " %>
                  <%= f.text_field :square_feet %>
                </div>

                <div class="eight wide field centered-form-field">
                  <%= f.label :description, "Description (optional): " %>
                  <%= f.text_area :description %>
                </div>

                <div>
                  <%= f.submit "Submit", class: "ui button" %>
                </div>

              <% end %>

            </div>

        </div>
</div>
