
<%= flash_message %>

<h1><%= @garden.name %>

  <% if @garden.user == current_user  %>

      <h2>
        <%= link_to "Add a Planting", new_garden_planting_path(@garden.id) %> |
        <%= link_to "Edit Garden", edit_garden_path(@garden.id) %> |
        <%= link_to 'Delete Garden', @garden, method: :delete, data: { confirm: 'Are you sure you want to delete this garden?' } %>
    </h2>
  <% end %>
  </h1>

<h2> Creater: <%= link_to @garden.user.name, user_gardens_path(@garden.user.id) %></h2>

<h2> Description: <%= @garden.description %> </h2>

<h2> Square Feet: <%= @garden.square_feet %> </h2>

<h3> Plantings: </h3>

  <ul>

    <% if @garden.plantings.any? %>
      <% @garden.plantings.each do |planting| %>
        <li> <%= link_to planting.name, user_species_path(current_user.id, planting.species.id) %> </li>
          <ul>
            <li> Quantity: <%= planting.quantity %></li>
          </ul>
      <% end %>
    <% else %>
        <li> There are no plantings yet. </li>
    <% end %>
  </ul>
