<div class="ui container center aligned">
  <%= flash_message %>
</div>

<div class="ui container center aligned">

    <div>

        <h1 class="underlined"> <%= @garden.name %></h1>

        <div class="ui four item menu stackable garden-show-menu" id="garden-button-display">
          <p class="sub-menu-item"><%= button_tag "<< Jump to Prior Garden Created", id: "prior_garden_button", data: {garden_id: @garden.id, user_id: @garden.user_id}, class: "ui button tiny wide-spacing" %></p>

          <p class="sub-menu-item bold"> <%= link_to "Edit/Update", edit_user_garden_path(current_user.id, @garden.id)%> </p>
          <p class="sub-menu-item bold"> <%= link_to "Delete", user_garden_path(current_user.id, @garden.id), method: :delete, data: { confirm: 'Are you sure you want to delete this garden (and all of its plantings)?' }%> </p>

          <p class="sub-menu-item"><%= button_tag "Jump to Next Garden Created >>", id: "next_garden_button", data: {garden_id: @garden.id, user_id: current_user.id}, class: "ui button tiny wide-spacing" %></p>
        </div>


        <div class="ui divider divider-spacer"></div>

        <h2> Currently Active: <%= @garden.active ? "Yes" : "No" %> </h2>

        <div class="ui divider divider-spacer"></div>

        <h2> Square Feet: <%= @garden.square_feet %> </h2>

        <div class="ui divider divider-spacer"></div>

        <h2> Description: </h2>

        <div class="ui container text">
          <h3> <%= @garden.description %> </h3>
        </div>

        <div class="ui divider divider-spacer"></div>


        <h2> Plantings: </h2>

              <table class="ui celled table center aligned">
                <thead>
                  <tr>
                    <th> Name </th>
                    <th> Quantity </th>
                    <th> Date Planted </th>
                    <th> Harvested </th>
                    <th> Expected Maturity Date </th>
                  <tr>
                </thead>

              <tbody>

                <% if @garden.plantings.empty? %>
                    <tr>
                      <td colspan="5">None.</td>
                    </tr>
                <% else %>
                    <% @garden.plantings.each do |planting| %>
                      <tr>

                        <td> <%= planting.name %> </td>
                        <td> <%= planting.quantity %> </td>
                        <td> <%= planting.date_planted.strftime("%m/%d/%Y")%></td>
                        <td> <%= planting.date_harvested ? planting.date_planted.strftime("%m/%d/%Y") : "No" %> </td>
                        <td> <% if planting.date_harvested %>
                                N/A
                              <% elsif planting.expected_maturity_date %>
                                <%= planting.expected_maturity_date.strftime("%m/%d/%Y") %>
                              <% else %>
                                Not available.
                              <% end %>
                            </td>


                      </tr>

                    <% end %>
                <% end %>
              </tbody>

            </table>
    </div>

</div>
