
<div class="ui divider divider-spacer"></div>

<h2> Plantings: </h2>

<table class="ui celled table center aligned">
  <thead>
    <tr>
      <th> Species </th>
      <th> Quantity </th>
      <th> Date Planted </th>
      <th> Date Harvested </th>
    </tr>
  </thead>

  <tbody>

    <%= f.fields_for :plantings do | planting | %>
      <%= planting.hidden_field :user_id, :value => current_user.id %>
      <tr>
        <td> <%= planting.collection_select :species_id, current_user.species, :id, :name %> </td>
        <td> <%= planting.text_field :quantity, class: "centered" %> </td>
        <td> <%= planting.date_field :date_planted, class: "centered" %></td>
        <td> <%= planting.date_field :date_harvested, class: "centered" %></td>
      </tr>

<% end %>
