<div id="new-planting-form">

<%= display_any_errors(@planting) %>

<h1> Add a Planting for <%= @garden.name %> </h1>

  <div>

    <%= form_for @planting, url: user_garden_plantings_path, method: :post do | planting_attrib | %>

      <%= planting_attrib.hidden_field :garden_id, :value => @garden.id %>



      <table class="ui celled table center aligned">
        <thead>
          <tr>
            <th> Species </th>
            <th> Quantity </th>
            <th> Date Planted </th>
            <th> Date Harvested </th>
            <th> Delete Planting </th>
          </tr>
        </thead>

        <tbody>

          <%= f.fields_for :plantings do | planting | %>
            <%= planting.hidden_field :user_id, :value => current_user.id %>
            <tr>
              <td> <%= planting.collection_select :species_id, current_user.species, :id, :name %> </td>
              <td> <%= planting.text_field :quantity, class: "centered" %> </td>
              <td> <%= planting.date_field :date_planted, class: "centered" %></td>
              <td> <%= planting.date_field :date_harvested, class: "centered" %></td>

            </tr>

      <% end %>

        </tbody>
      </table>

      <%= planting_attrib.submit "Submit", class: "ui button" %>
    <% end %>

  </div>

</div>
