<%= render partial: 'layouts/errors', locals: {errors: @planting.errors} if @planting.errors.any? %>

<h1> Create a Planting for <%= @garden.name %> </h1>

  <div>

    <%= form_for @planting, url: garden_plantings_path, method: :post do | planting_attrib | %>

      <%= planting_attrib.hidden_field :garden_id, :value => @garden.id %>

      <%= planting_attrib.label :species_id, "Select Species" %>
      <%= planting_attrib.collection_select :species_id, current_user.species, :id, :name %>
          or <%= link_to "add a new Species", new_species_path %>
      <br>
      <%= planting_attrib.label :quantity, "Quantity Planted: " %>
      <%= planting_attrib.text_field :quantity %>
      <br>

      <%= planting_attrib.submit "Submit" %>

    <% end %>

  </div>
