<!DOCTYPE html>
<html>
  <head>
    <title>GardenTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- navbar -->

    <% if signed_in? %>
      <h2><%= link_to "Home", user_path(current_user.id) %> | <%= link_to "Sign Out", signout_path, method: :delete %></h2>
      <h2> ------------------------------------------------- </h2>
    <% end %>

    <!-- navbar end -->

    <%= yield %>
  </body>
</html>
